.card-container{
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(109, 109, 109, 0.3);
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-container .character-card img{
   max-width: 15rem;
}

.character-card{
    color: #777;
    align-items: center;
    padding: 4px;
    margin-bottom: 7px;
    width: 20%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(64, 65, 74, 0.15);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.character-card img{
     margin: auto;
    border: 3px solid #2632;
    padding: 10px; 
    width: 60%;
    margin-bottom: 20px; 
    
}

.character-card:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.character-card p {
    margin: 3px 0;
}
.character-card h2 {
    margin: 2px 0;
}
.more{
    color: blue;
    text-align: right;
}
.delete {
    color: red;
    text-align: right;
}
.more:hover,
.delete:hover {
    text-decoration: underline;
    cursor: pointer;
}
.show{
    display: block;
}
.hide{
    display: none;
}

.btn{
    font-size: 5px;
}
.btn:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #fbbe28, #f5b402);
    background-image: -moz-linear-gradient(top, #fbbe28, #f5b402);
    background-image: -ms-linear-gradient(top, #fbbe28, #f5b402);
    background-image: -o-linear-gradient(top, #fbbe28, #f5b402);
    background-image: linear-gradient(to bottom, #fbbe28, #f5b402);
    text-decoration: none;
    
  }

  .nombre{
    font-size: 15px;
  }