.menu{
    display: flex;
    align-items: center;
}
.fraseheader{
    color: white;
    font-size: 25px;
    padding-left: 30%;
    padding-top: 10%;
}
.opciones li a{
    color: white;
    font-size: 1.8rem; /* 1.8REM = 28.8px*/
}
.opciones li a:hover {
    color: #fbbe28;
    text-decoration: underline;
}
.logo{
    width: 200px;
}
.encabezado{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}